.content {
  min-height: calc(100vh - 84px);
  padding: 30px 31px 60px;
}

.emptySection {
  width: 650px;
  max-width: calc(100% - 58px);
  min-height: 250px;
  margin-top: 30px;
  margin-left: 58px;
  padding: 30px;
  color: #707a96;
  background: #ffffff;
  border-radius: 12px;
  font-size: 14px;
}
