.page {
  display: grid;
  min-height: calc(100vh - 84px);
  grid-template-columns: minmax(0, 1fr) 305px;
}

.boardContent {
  display: flex;
  min-width: 0;
  flex-direction: column;
  gap: 24px;
  padding: 14px 28px 44px;
}
